.item-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.item-name {
  flex-basis: 80%;
  font-size: x-large;
  letter-spacing: 0.3rem;
}

.item-quantity {
  font-size: x-large;
  color: brown;
}
