.header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-size: 3rem;
  letter-spacing: 1rem;
  color: var(--light-purple);
}

.header-image-wrapper {
  height: 300px;
  width: 300px;
}

.header-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
}
